In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC, LinearSVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [2]:
df = pd.read_csv('emails.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5172 entries, 0 to 5171
Columns: 3002 entries, Email No. to Prediction
dtypes: int64(3001), object(1)
memory usage: 118.5+ MB

In [4]:
df.head()

,Email No.,the,to,ect,and,for,of,a,you,hou,...,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry,Prediction
0,Email 1,0,0,1,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Email 2,8,13,24,6,6,2,102,1,27,...,0,0,0,0,0,0,0,1,0,0
2,Email 3,0,0,1,0,0,0,8,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Email 4,0,5,22,0,5,1,51,2,10,...,0,0,0,0,0,0,0,0,0,0
4,Email 5,7,6,17,1,5,2,57,0,9,...,0,0,0,0,0,0,0,1,0,0

In [5]:
df.dtypes

Email No.     object
the            int64
to             int64
ect            int64
and            int64
               ...
military       int64
allowing       int64
ff             int64
dry            int64
Prediction     int64
Length: 3002, dtype: object

In [6]:
df.drop(columns=['Email No.'], inplace=True)

In [7]:
df.isna().sum()

the           0
to            0
ect           0
and           0
for           0
             ..
military      0
allowing      0
ff            0
dry           0
Prediction    0
Length: 3001, dtype: int64

In [8]:
df.describe()

,the,to,ect,and,for,of,a,you,hou,in,...,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry,Prediction
count,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,...,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000
mean,6.640565,6.188128,5.143852,3.075599,3.124710,2.627030,55.517401,2.466551,2.024362,10.600155,...,0.005027,0.012568,0.010634,0.098028,0.004254,0.006574,0.004060,0.914733,0.006961,0.290023
std,11.745009,9.534576,14.101142,6.045970,4.680522,6.229845,87.574172,4.314444,6.967878,19.281892,...,0.105788,0.199682,0.116693,0.569532,0.096252,0.138908,0.072145,2.780203,0.098086,0.453817
min,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,12.000000,0.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,3.000000,3.000000,1.000000,1.000000,2.000000,1.000000,28.000000,1.000000,0.000000,5.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,8.000000,7.000000,4.000000,3.000000,4.000000,2.000000,62.250000,3.000000,1.000000,12.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000
max,210.000000,132.000000,344.000000,89.000000,47.000000,77.000000,1898.000000,70.000000,167.000000,223.000000,...,4.000000,7.000000,2.000000,12.000000,3.000000,4.000000,3.000000,114.000000,4.000000,1.000000

In [9]:
X=df.iloc[:, :df.shape[1]-1]
#Independent Variables

y=df.iloc[:, -1]
#Dependent Variable

X.shape, y.shape

((5172, 3000), (5172,))

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.15, random_state=42)

In [11]:
knn=KNeighborsClassifier(2);
svm=LinearSVC();

In [12]:
y_pred_knn = knn.fit(X_train, y_train).predict(X_test)
accuracy = accuracy_score(y_test, y_pred_knn)
confusion = confusion_matrix(y_test, y_pred_knn)
report = classification_report(y_test, y_pred_knn)



print(f"Metrics for knn model:")
print(f"Accuracy: {accuracy}")
print("Confusion Matrix:")
print(confusion)
print("Classification Report:")
print(report)
print("="*50)



y_pred_svm = svm.fit(X_train, y_train).predict(X_test)
accuracy = accuracy_score(y_test, y_pred_svm)
confusion = confusion_matrix(y_test, y_pred_svm)
report = classification_report(y_test, y_pred_svm)



print(f"Metrics for svm model:")
print(f"Accuracy: {accuracy}")
print("Confusion Matrix:")
print(confusion)
print("Classification Report:")
print(report)
print("="*50)


# Create a new DataFrame for the predictions
predictions_df = pd.DataFrame({'knn_Predicted_Price': y_pred_knn,
                               'svm_Predicted_Price': y_pred_svm})

# Concatenate the predictions DataFrame with the original DataFrame
df = pd.concat([df, predictions_df], axis=1)

# Display the updated DataFrame
print(df)

Metrics for knn model:
Accuracy: 0.8737113402061856
Confusion Matrix:
[[533  35]
 [ 63 145]]
Classification Report:
              precision    recall  f1-score   support

           0       0.89      0.94      0.92       568
           1       0.81      0.70      0.75       208

    accuracy                           0.87       776
   macro avg       0.85      0.82      0.83       776
weighted avg       0.87      0.87      0.87       776

==================================================

C:\Users\HP\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\svm\_base.py:1244: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(

Metrics for svm model:
Accuracy: 0.961340206185567
Confusion Matrix:
[[548  20]
 [ 10 198]]
Classification Report:
              precision    recall  f1-score   support

           0       0.98      0.96      0.97       568
           1       0.91      0.95      0.93       208

    accuracy                           0.96       776
   macro avg       0.95      0.96      0.95       776
weighted avg       0.96      0.96      0.96       776

==================================================
      the  to  ect  and  for  of    a  you  hou  in  ...  valued  lay  \
0       0   0    1    0    0   0    2    0    0   0  ...       0    0
1       8  13   24    6    6   2  102    1   27  18  ...       0    0
2       0   0    1    0    0   0    8    0    0   4  ...       0    0
3       0   5   22    0    5   1   51    2   10   1  ...       0    0
4       7   6   17    1    5   2   57    0    9   3  ...       0    0
...   ...  ..  ...  ...  ...  ..  ...  ...  ...  ..  ...     ...  ...
5167    2   2    2    3    0   0   32    0    0   5  ...       0    0
5168   35  27   11    2    6   5  151    4    3  23  ...       0    0
5169    0   0    1    1    0   0   11    0    0   1  ...       0    0
5170    2   7    1    0    2   1   28    2    0   8  ...       0    0
5171   22  24    5    1    6   5  148    8    2  23  ...       0    0

      infrastructure  military  allowing  ff  dry  Prediction  \
0                  0         0         0   0    0           0
1                  0         0         0   1    0           0
2                  0         0         0   0    0           0
3                  0         0         0   0    0           0
4                  0         0         0   1    0           0
...              ...       ...       ...  ..  ...         ...
5167               0         0         0   0    0           0
5168               0         0         0   1    0           0
5169               0         0         0   0    0           1
5170               0         0         0   1    0           1
5171               0         0         0   0    0           0

      knn_Predicted_Price  svm_Predicted_Price
0                     0.0                  0.0
1                     0.0                  0.0
2                     1.0                  1.0
3                     0.0                  0.0
4                     0.0                  0.0
...                   ...                  ...
5167                  NaN                  NaN
5168                  NaN                  NaN
5169                  NaN                  NaN
5170                  NaN                  NaN
5171                  NaN                  NaN

[5172 rows x 3003 columns]